ion-card{
    color: #030303;
    box-shadow: 0 0 6px 0 rgba(54, 32, 1, 0.5);
    background-color: #ee933f;
    margin-top: 20px;
}
  #container{
      height: 100%;
     /*  background-color: #F78229 */;
    background-image: url(../../assets/img/fondo_albergue.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  ion-header{
      height: 30px;
  }
  .imgHome img{
   /*  margin-left: 40%;
    margin-top: 40px; */
    margin-top: 3px;
}
.imgHome{
    margin-left: 45%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    border-radius: 5px;
    width: 45px;
    height: 40px;
    margin-top: 10%;
}
h2{
    color: black;
}
.itemIntroText{
    color: black;
    margin-top: -5px;
    text-align: center;
}

