ion-card{
    color: white;
}
  .container{
      height: 100%;
      background-color: #F78229;
  }
  ion-header{
      height: 30px;
  }
  .imgHome img{
    margin-left: 40%;
    margin-top: 40px;
}