<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="folder/Bienvenido"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Visualizar Albergues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div class="contenido">
        <div id="k2Container" class="itemView"> <div class="itemHeader"> 
          <h2 class="itemTitle"> Listado Nacional de Albergues</h2> 
        </div> 
        <div class="itemBody"> <div class="itemIntroText"> <p>&nbsp;APRENDIENDO DE IRMA Y MARÍA</p> </div> <div class="itemFullText"> <p></p><div class="moduletable"><div class="custom"><style>.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}.embed-container iframe,.embed-container object,.embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%}</style><div class="embed-container" data-page-width="500" data-page-height="354" id="ypembedcontainer" style="width: 100%; height: 100%;"><iframe src="https://www.yumpu.com/es/embed/view/T7lhj1pi8O9bqNGx" frameborder="0" allowfullscreen="true" allowtransparency="true">
        </iframe>
      </div>
        <script src="https://players.yumpu.com/modules/embed/yp_r_iframe.js"></script>
      </div>
      </div>
      <!--   <div class="ion-text-justify">
        <p></p>
        </div> -->
        <ion-card >
          <ion-card-content mode="ios">
            Los Albergues funcional de manera temporal para personas 
            necesitadas o que fueron afectada por 
            algun fenmeno natural o adversos, estos establecieminetos támbien llamado refugios temporales, 
            alojan distintas cantidades de personas.
          </ion-card-content>
        </ion-card>
    
      <p>&nbsp;</p>
      <p>&nbsp;</p> 
      </div> 
      <div class="clr"></div> 
      <div class="clr"></div> 
      </div> 
      <div class="itemLinks"> <div class="clr"></div> </div> 
      <div class="clr"></div> 
      <div class="clr"></div>
      </div>
    </div>
    
  </div>
    

</ion-content>

