// ion-menu-button {
//   color: var(--ion-color-primary);
// }
.icoSalir{
  width: 20px;
  height: 20px;
  background-color: #4058A1;
}
ion-menu-button{
  color: #ffffff;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container0{
  height: 100%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 18;
  line-height: 22px;
  color: #06070c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.txtfooter{
  text-align: center;
  font-size: 12px ;
  height: auto;
  line-height: 1pt;
}
.imgfondo{
  max-width: 100%;
  height: 50%;
  width: 100%;
  object-position:0px 25px;
}
.tolbar42px{
  height: 42px;
  margin-top: -1.5%;
}
.cuadrado{
  
  margin-top: -30px;
  background: #F8F9FE;
  width: 100%;
  color: #5f6066;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0,0,6,0 rgba(0,0,0,.5);
}
.txttoolbar43{
  font-size: 0.8em ;
  line-height: 13px !important;
  font-weight: 600;
  margin-bottom: 10px !important;
  color: white !important;
  text-align: center;
  margin-top: -3px !important;
}
//--Iconos de servicio pagina bienvenida--//

.icontitulo2{
  font-size: 0.8em;
  text-align: center;
  color: #0a0a0a !important; 
  font-weight: 400;

}
.divImg{
  width: 20%;
  margin-bottom: 10px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  
}
.divImg > p{
  
  font-size: 8px;
  margin-top: 1%;
  text-align: center;
 
}
.divImg > img{
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}
ion-card-content{
  background-color: white;
  margin-bottom: 30px;
  
}
ion-card{
  background-color: white;
  margin-top: 10%;
}
