 .imgLogo{
    height: 150px;
    width: 150px;
    margin-top: 45px;
    margin-left: 100px;
  }
  .InicieLogin ion-card-title{
    text-align: center;
    font-size: 27px;
    color: #ffffff;
    font-family: Arial,sans-serif, Impact, Bold;
  }
  .InicieLogin ion-labeL{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-left: 30px;
    font-family: Arial,sans-serif, Impact;
  }
  .InicieLogin{
    margin-bottom: 30px;
  }
  .iconloked{
    padding-right: 20px;
    color: #817f7f;
  }
  .personIcon{
    padding-right: 20px;
    color: #817f7f;
  }
  .itemNLogin{
    border-radius: 23px;
    align-items: center;
    color: #797575;
  }
  .itemPLogin{
    margin-top: 6%;
    border-radius: 23px;
    align-items: center;
    color: #797575;
  }
  /**BTN Iniciar**/
  .btnIniciar{
    margin-bottom: 10%;
    text-align: center !important; 
}
 .LetrabtnIniciar{
    color: #ffffff;
    margin-bottom: 8%;
    margin: auto;
    font-size: 18px;
}
.toolbarbtnIniciar{
    border-radius: 23px;
    margin-bottom: 12%;
    color: #ffffff;
    width: 75%;
    height: 7%;
    margin-left: 10%;
    display: block;
}
  /**BTN crear**/
 .toolbarbtn{
    border-radius: 23px;
    margin-bottom: 12%;
    color: #ffffff;
    width: 40%;
    height: 6%;
    margin-left: 30%;
    display: block;
}
 .btnCrear{
    margin-bottom: 10%;
    text-align: center !important; 
}
.LetrabtnCrear{
    color: #ffffff;
    margin-bottom: 8%;
    margin: auto;
    font-size: 18px;
}
.fraseCuenta{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    //margin-left: 30px;
}