<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="contenedor">
      <div class="imglogin">
          <img class="imgLogo" src="assets/img/logodc.PNG">
        <ion-card-header class="InicieLogin">
          <ion-card-title> <strong>COMUNIDAD ALERTA</strong></ion-card-title>
          <p id="fraseLogin">Apoyando la comunidad ante eventos de desastre</p>
        </ion-card-header>
      </div>
    
      <div class="login overflow-hidden">
        <div class="inpuntlogin">
          <div class="usuario">
            <!-- <input type="text" #email required placeholder="Usuario"> -->
          <i class="far fa-user"></i>
          <input type="text" #email required placeholder="Usuario">
          </div>
          <div class="usuario">
            <i class="fas fa-key"></i>
            <input type="password" #password required placeholder="Contraseña">
        
          </div>
        </div>
        
          <ion-buttons class="btnlogin" >
            <ion-button class="LetrabtnIniciar" type="submit" (click)="onLogin(email, password)">INICIAR</ion-button>
          </ion-buttons>
        
        <h2>----------------o----------------</h2>
        <div class="iconoPage">
          <div class="ico">
            <img width="30 dp" class="imgfondo"  src="assets/img/google.png"(click)="onLoginGoogle()">
          </div>
          <div class="ico">
            <img width="30 dp" class="imgfondo"  src="assets/img/facebook.png"(click)="onLoginFacebook()">
          </div>
        </div>
        <div class="fraseCuenta">
          <p>No tienes cuenta?</p>
        </div>
          <ion-buttons class="btnCrear">
            <ion-button size="large" class="LetrabtnCrear" [routerLink]="['/registro']">CREAR</ion-button>
          </ion-buttons>
      </div>
      
   
  
  </div>
  
</ion-content>
