
#contenedor{
  height: 100%;
  width: 100%;
  background-image: url(../../assets/img/logo.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.imglogin{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 20px;

}
.imgLogo{
  width: 113px;
  height: 113px;
  margin-top: 14%;
}
.InicieLogin strong{
  display: flex;
  justify-content: center;
  color: #070707;
  font-size: 26px;
  margin-top: -15px;
 
}
.InicieLogin #fraseLogin{
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: #070707;
}
.login input{
  background-color: white !important;
  border: none;
  height: 35px;
  width: 70%;
  color: #8F9094;
  border: none;
  display: flex;
  flex-flow: column wrap;
  outline: none;
  margin-right: 40px;
}
.login .btnlogin{
  width: 70%;
  height: 40px;
  border-radius: 20px;
  margin-left: 15%;
  margin-top: 15px;
  background-color: #2177c7;
}
.LetrabtnIniciar{
  width: 100%;
  height: 50px;
  text-align: center;
}
h2{
color: rgb(175, 171, 171);
display: flex;
justify-content: center;
margin-top: -6px;
}

.ico{
  border-radius: 5px;
  background-color: white;
  width: 50px;
  height: 50px !important;
  display: inline-flex;
  margin-left: 7%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);

}
.ico img{
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 5px;
}
.iconoPage{
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
.fraseCuenta{
  display: flex;
  justify-content: center;
  color: #070707;

}
.btnCrear{
  display: flex;
  justify-content: center;
  color: #070707;
  margin-top: -20px;
 
}
.usuario{
  background-color: white !important;
  border-radius: 20px;
  margin-top: 10px;
  height: 35px;
  width: 70%;
  color: #8F9094;
  display: flex;
  flex-flow: column wrap;
  margin-left: 15%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}
.usuario i{
  padding: 10px;
}
.inpuntlogin{
  margin-top: -20px;
}