<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-back-button defaultHref="folder/Bienvenido"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Visualizar Huracanes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="contenedor">
  <div class="imgfondo">
    <div class="imgCabeza"> 
      <p class="Emergencia">Localización de Huracanes</p>
    </div>
    
    <ion-card-content>
      <div class="textwidget"><iframe src="https://www.servir.net/servir_alertas/index-new.php" width="100%&quot;" frameborder="4"></iframe></div>
      <div id="embed-zoom"><div data-do="zoomIn" class="clickable iconfont noselect zoom-ctrl zoom-plus" title="Zoom in"></div><div data-do="zoomOut" class="clickable iconfont noselect zoom-ctrl zoom-minus" title="Zoom out"></div></div>
    </ion-card-content>
    <div class="card">
      <ion-card>
        <ion-card-content>
          Aquí puede visualizar y darle seguimiento a los fenómenos 
          naturales que pueden ser de amenazas para nuestro país.
          <br>
        <i>Visita:</i> <a href="https://www.servir.net/servir_alertas/index-new.php"> servir.net en la Web</a>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>

</ion-content>



