<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="folder/Bienvenido"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Rescate</ion-title>
    </ion-toolbar>
    
  </ion-header>
  
  <div class="imgCabeza"> 
    <img width="60 dp" class="imgfondo"  src="assets/img/awesome-shield-alt.png">
    <p>Datos de la emergencia</p>
  </div>
  <div class="contain">
  
    <div class="input">
      <input type="text" placeholder="Su Nombre" >
    </div>
    <div class="img"><img class="imgfondo"  src="assets/img/circle-people.png"></div>
    <div class="input">
      <input type="text" placeholder="Direccion de la emergencia" >
    </div>
    <div class="img"><img class="imgfondo"  src="assets/img/location.png"></div>
    <div class="input">
      <input type="text" placeholder="Telefono de contacto" >
    </div>
    <div class="img"><img class="imgfondo"  src="assets/img/telefono.png"></div>
    <div class="Descripcion">
      <textarea name="text" placeholder="Breve descripcion de la emergencia"></textarea>
    </div>
    <div class="btn">
      <ion-button color="tertiary"  size="block" shape="round">
        Enviar
        <ion-icon slot="end" name=""></ion-icon>
      </ion-button>
    </div>
  </div>
  
  
   