.contenedor{
  background-color: #F78229;
  height: 100%;
  width: 100%;
}
.contenedor ion-card{
    top:100px;
}
ion-header{
    height: 0;
}
ion-item{
    background-color: #F78229;
}
.login input{
    background-color: white !important;
    border-radius: 20px;
    margin-top: 15px;
    height: 35px;
    width: 100%;
    color: #8F9094;
    border: none;
    display: flex;
    flex-flow: column wrap;
  }