<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Área de Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <!--   <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
          <ion-item>
            <ion-label  position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
          </ion-item>
          <br>
          <ion-button (click)="guardar()">Registrarse</ion-button>
        </form> -->
        <form>
         <div class="login">
          <input type="text" #email required placeholder="Usuario">
          <input type="password" #password required placeholder="Contraseña">
         </div>
          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Register</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
      <ion-card-title class="text-down">Defensa Civil Dominicana</ion-card-title>
    </ion-card>
    <br>
  </div>
  
</ion-content>
