<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Área de Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenedor">
    <div class="container">
      <ion-card-content>
        <!-- <form>

         <div class="login">
          <div class="usuario">
            
          <i class="far fa-user"></i>
          <input type="text" #email required placeholder="Usuario">
          
          </div>
          <div class="usuario">
            <i class="fas fa-key"></i>
            <input type="password" #password required placeholder="Contraseña">
          </div>
         </div>
          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Register</ion-button>
            </ion-col>
          </ion-row>
        </form> -->
        <div id="contenedor">
          <div class="registro overflow-hidden">
            <div class="inpuntregistro">
              <div class="usuario">
                <!-- <input type="text" #email required placeholder="Usuario"> -->
              <i class="far fa-user"></i>
              <input type="text" #email required placeholder="Correo">
              </div>
              <div class="usuario">
                <i class="fas fa-key"></i>
                <input type="password" #password required placeholder="Contraseña">
              </div>
              <div class="crear">
               <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Register</ion-button>
              </div>
            </div>
          </div>
    
      </div>
      </ion-card-content>
    </div>
     
     
   
  </div>
</ion-content>
<!-- <img src="../../assets/img/pruebaaaA.png" alt=""> -->




  

